.o-container-weather-background{
    display: flex;
    width: 20vw;
    height: 75vh;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgb(240, 240, 240);
    background-image: url("../../img/imgs/background.png");
    background-size: 20vw;
    background-position: top;
    background-repeat: no-repeat;

    border-radius: 1.5rem;

    box-shadow: 0px 22px 20px -6px rgba(0,0,0,0.39);
}

.o-container-weather{
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .o-container-weather-background{
        display: flex;
        width: 55vw;
        height: 55vh;

        background-size: 55vw;
    }
}